:local .container {
  background-color: #444;
  height: 100%;
  position: fixed;
  & img {
    padding: 8px;
    box-sizing: border-box;
  }
  & ul {
    margin: 8px;
    padding: 8px;
    background-color: #333;
    border-radius: 2px;
    box-shadow: 0 0 2px white;

    & li {
      border-radius: 2px;
      padding: 8px;
      background-color: #888;
      color: #dadada;
      box-shadow: 0 0 2px white;
      cursor: pointer;
    }
    & .active {
      background-color: blue;
    }
    & li:not(:first-child) {
      margin-top: 8px;
    }
  }
}